@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,200&display=swap");

:root {
  --pure: #ffffff;
  --pink: #a569bd;
  --gray: #b4b4b4;
  --green: #73c6b6;
  --bg: #f0f3f4;
  --font: "Raleway", sans-serif;
}

div.container {
  max-width: 50rem;
  margin: 2rem auto 0 auto;
  text-align: center;
}

div.container div.list-table table.MuiTable-root {
  background-color: var(--pure);
}

.MuiTableCell-body {
  font-size: 1rem !important;
  font-family: var(--font) !important;
  font-weight: 600 !important;
  background-color: var(--green);
}

.MuiTableCell-head {
  font-size: 1rem !important;
  font-family: var(--font) !important;
  font-weight: 600 !important;
  background-color: var(--pink);
  color: white !important;
}

.Mui-selected {
  background-color: var(--gray) !important;
}

div.user-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
